In [14]:
import numpy as np
import pandas as pd
from astropy.table import Table

In [33]:
coord=Table.read('CORD_coord.txt',format='ascii')
coord

<Table length=7785>
Field     r1       d1       r2       d2    ...    r4       d4      CT    CN
 str6  float64  float64  float64  float64  ... float64  float64  int64 int64
------ -------- -------- -------- -------- ... -------- -------- ----- -----
UA2603  167.842  61.2427 168.2033  64.3009 ... 161.2478  61.2427     4     4
U38FDB 252.2173   6.9648 252.2292     9.97 ... 249.1729   6.9648     4     4
U381B7 238.3442   3.6422 238.3514   6.6462 ... 235.3216   3.6422     4     4
U194F8  59.7955   2.5034  59.8011   5.5207 ...  56.7684   2.5034     4     4
N49031 130.5387  47.6746  130.748  51.0515 ... 124.6615  47.6746   234   243
S09126 357.6176  -11.504 357.6003  -8.3002 ... 354.0531  -11.504   198   202
U60896 314.7049  -5.0541    314.7  -2.0361 ... 311.6654  -5.0541     4     4
N57053 269.2339  56.1609 269.5174  59.4613 ... 263.3302  56.1609   111   119
S23099 302.3244 -25.5322 302.2812 -22.4184 ... 298.7068 -25.5322    29    30
N57057 289.4298  56.1311 289.6969  59.3521 ... 283.7078  56.1311    20    28
   ...      ...      ...      ...      ... ...      ...      ...   ...   ...
FK1405 129.3835  60.5414 129.7337   63.612 ... 122.8174  60.5414    10    16
S26066 204.9903 -28.3482 204.9412 -25.2047 ... 201.3942 -28.3483    44    52
UERIC1 122.7657  36.8703 122.8473  39.8821 ... 118.9321  36.8703     4     5
FB0201 109.4775  39.0629 109.5693  42.0875 ... 105.5127  39.0629     4    24
FA2004 122.7377  12.8651 122.7591  15.8984 ... 119.6184  12.8651     4     4
S18112 328.2668 -19.9391 328.2323 -16.7117 ... 324.5406 -19.9391   179   183
S21084 250.0762 -22.7509  250.039  -19.555 ... 246.5961 -22.7509    66    78
S07012  34.9262  -8.6328   34.912  -5.4469 ...  30.7578  -8.6328   280   293
N07097 275.0373   5.5776 275.0472   8.5879 ... 272.0008   5.5776     3     3
FC2705 225.7757   -3.951 225.7723  -0.9362 ... 222.7383   -3.951     4     8

In [35]:
cid=Table.read('CRTS_id_num.txt',format='ascii',names=('Field','number'))
cid

<Table length=7894>
 Field   number
  str8   int64
-------- ------
2002LZ11      4
2002lz11      4
    D8B8      8
    D9A2     13
    DAC2      4
    DAC3     12
    DADA      8
    DD3C      4
    DD3D      4
  FA0101     13
     ...    ...
  Utest5      2
  Utest6      1
  Utesta      1
  Utwilt     66
  Uwitch     11
    pec1      1
   test1      4
   test2      2
   test3      4
   test4      4

In [37]:
ls=Table.read('FITS.txt',format='ascii')
ls

<Table length=15629>
   col1     col2 col3 ...  col8                      col9
  str10    int64 str4 ...  str5                     str45
---------- ----- ---- ... ----- ---------------------------------------------
-rw-rw-r--     1 emgw ... 02:15        2002lz11/2002lz11_clip_mask_SBG_Y.fits
-rw-rw-r--     1 emgw ... 02:15 2002lz11/2002lz11_clip_mask_SBG_Y.weight.fits
-rw-rw-r--     1 emgw ... 03:36                D8B8/D8B8_clip_mask_SBG_Y.fits
-rw-rw-r--     1 emgw ... 03:36         D8B8/D8B8_clip_mask_SBG_Y.weight.fits
-rw-rw-r--     1 emgw ... 00:07                D9A2/D9A2_clip_mask_SBG_Y.fits
-rw-rw-r--     1 emgw ... 00:07         D9A2/D9A2_clip_mask_SBG_Y.weight.fits
-rw-rw-r--     1 emgw ... 06:07                DAC2/DAC2_clip_mask_SBG_Y.fits
-rw-rw-r--     1 emgw ... 06:07         DAC2/DAC2_clip_mask_SBG_Y.weight.fits
-rw-rw-r--     1 emgw ... 03:45                DAC3/DAC3_clip_mask_SBG_Y.fits
-rw-rw-r--     1 emgw ... 03:44         DAC3/DAC3_clip_mask_SBG_Y.weight.fits
       ...   ...  ... ...   ...                                           ...
-rw-rw-r--     1 emgw ... 02:03            UXXXXX/UXXXXX_clip_mask_SBG_Y.fits
-rw-rw-r--     1 emgw ... 02:03     UXXXXX/UXXXXX_clip_mask_SBG_Y.weight.fits
-rw-rw-r--     1 emgw ... 01:36            UY0500/UY0500_clip_mask_SBG_Y.fits
-rw-rw-r--     1 emgw ... 01:36     UY0500/UY0500_clip_mask_SBG_Y.weight.fits
-rw-rw-r--     1 emgw ... 07:43            UY3987/UY3987_clip_mask_SBG_Y.fits
-rw-rw-r--     1 emgw ... 07:43     UY3987/UY3987_clip_mask_SBG_Y.weight.fits
-rw-rw-r--     1 emgw ... 04:14            UYM9B4/UYM9B4_clip_mask_SBG_Y.fits
-rw-rw-r--     1 emgw ... 04:14     UYM9B4/UYM9B4_clip_mask_SBG_Y.weight.fits
-rw-rw-r--     1 emgw ... 05:40            UYO128/UYO128_clip_mask_SBG_Y.fits
-rw-rw-r--     1 emgw ... 05:40     UYO128/UYO128_clip_mask_SBG_Y.weight.fits

In [39]:
sse=Table.read('SSE_Coadd_FAIL.txt',format='ascii')
sse['Field','Co-T','To-T','date','time']

<Table length=5>
Field    Co-T    To-T     date      time
 str6  float64 float64   str10      str8
------ ------- ------- ---------- --------
FK3007    0.02   48.98 2015-10-22 23:09:10
 test1    0.02   39.87 2015-10-23 02:48:45
 test2    0.02   56.66 2015-10-23 02:49:34
 test3    0.02   52.75 2015-10-23 02:50:48
 test4    0.02   35.89 2015-10-23 02:51:51

In [43]:
scf=Table.read('Sc_Coadd_FAIL.txt',format='ascii')
scf['Field','Co-T','To-T','date','time']

<Table length=2>
Field    Co-T    To-T     date      time
 str6  float64 float64   str10      str8
------ ------- ------- ---------- --------
FD1901    0.03   91.98 2015-10-20 04:39:07
U29109    0.02  112.47 2015-10-20 04:40:44

In [45]:
scl=Table.read('scatter_list.txt',format='ascii')
scl

<Table length=1260>
Field  Less scattered Good WCS Failed Mask ... Failed WCS  tot     fr    na
 str6      int64       int64      int64    ...   int64    int64 float64 str1
------ -------------- -------- ----------- ... ---------- ----- ------- ----
FJ1304              4        8           0 ...          0     8     0.5    F
FJ1606              8       12           0 ...          0    12    0.67    F
FC0107              4        8           0 ...          0     8     0.5    F
FB0209              4        8           0 ...          0     8     0.5    F
FK2804              4        8           0 ...          0     8     0.5    F
FI2902              4        8           0 ...          0     8     0.5    F
FA0202              4        8           0 ...          0     8     0.5    F
FD1901              4       16           0 ...          0    16    0.25    F
FJ2205              5        9           0 ...          0     9    0.56    F
FB1301              4       12           4 ...          0    16    0.25    F
   ...            ...      ...         ... ...        ...   ...     ...  ...
FK1202             12       32           0 ...          0    32    0.38    F
FC0908              4        8           0 ...          0     8     0.5    F
FC0201              8       20           0 ...          0    20     0.4    F
U73P06              4        8           0 ...          0     8     0.5    U
FA0703              4        8           0 ...          0     8     0.5    F
FB2103              8       24           0 ...          0    24    0.33    F
FK1605              5       17           0 ...          0    17    0.29    F
FI0401             12       16           0 ...          0    16    0.75    F
FB0104              8       20           0 ...          0    20     0.4    F
FB1502              4        8           0 ...          0     8     0.5    F

In [46]:
wc=Table.read('wcs_error_list.txt',format='ascii')
wc

<Table length=3074>
Field  wcs_err  tot
 str8   int64  int64
------ ------- -----
FK2801       4    12
N32034      14   303
U0C64C       1     4
FF1801       4    24
FK2502       5    21
U3883G       1     8
N46001       5    59
FK2204       1     9
N55039       4   116
N04043       8   238
   ...     ...   ...
N01017      14   349
N12094       5    31
N15112       8   358
N52058       4   183
S04004      15   257
S23060       4    43
 test1       4     4
 test2       2     2
 test3       4     4
 test4       4     4